# =========================================================
# AI Product Assistant
# Python 3.13
# =========================================================

# ---------------------------------------------------------
# Backend / API
# ---------------------------------------------------------
fastapi
uvicorn[standard]
pymongo
python-dotenv
python-multipart
pydantic[email]

# Authentication / Security
passlib
bcrypt==4.0.1
python-jose[cryptography]

# ---------------------------------------------------------
# Data Processing
# ---------------------------------------------------------
numpy
pandas
scikit-learn

# ---------------------------------------------------------
# NLP / Machine Learning
# ---------------------------------------------------------
torch
transformers
sentence-transformers

# ---------------------------------------------------------
# Generative AI
# ---------------------------------------------------------
groq
crewai